 h1 { font-family: system-ui;
 	  color: saddlebrown;
 	  text-align: center;
}
 h2 { font-family: system-ui;
 	  color: saddlebrown;
}
 p { font-family: system-ui;
     font-weight: 400;
     font-style: italic;
     font-size: 13pt;
     text-align: center;
}
.thumb figure {
  width: 23%;
  margin: 1%;
  display: inline-block;
}

.thumb img {
  border: 1px;
  width: 100%;
}

.thumb figcaption {
  text-align: center;
  font-style: italic;
}
.eks figure {
  width: 23%;
  margin: 1%;
  display: inline-block;
}

.eks img {
  border: 1px;
  width: 100%;
}

.eks figcaption {
  text-align: center;
  font-style: italic;
}
.mod figure {
  width: 23%;
  margin: 1%;
  display: inline-block;
}

.mod img {
  border: 1px;
  width: 100%;
}

.mod figcaption {
  text-align: center;
  font-style: italic;
}
.neo figure {
  width: 23%;
  margin: 1%;
  display: inline-block;
}

.neo img {
  border: 1px;
  width: 100%;
}

.neo figcaption {
  text-align: center;
  font-style: italic;
}
.kub figure {
  width: 23%;
  margin: 1%;
  display: inline-block;
}

.kub img {
  border: 1px;
  width: 100%;
}

.kub figcaption {
  text-align: center;
  font-style: italic;
}
.pop figure {
  width: 23%;
  margin: 1%;
  display: inline-block;
}

.pop img {
  border: 1px;
  width: 100%;
}

.pop figcaption {
  text-align: center;
  font-style: italic;
}
       .rom figure { width: 23%;
                     margin: 1%;
                     display: inline-block;
}

       .rom img {  border: 1px;
                   width: 100%;
}

       .rom figcaption { text-align: center;
                         font-style: italic;
}

   #container {
  display: flex;
}